body {    
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

.square {
  height: 5px;
  width: 300px;
  background-color: #FFBE72;
  text-align: center;
  align-items: center;
  margin: auto;
}

.topnav {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 100;
  overflow: hidden;
  padding-left: 250px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.topnav a {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  float: left;
  color: #A7A7A7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: #FFBE72;
}

.topnav a.active {
  color: #FFBE72;
  
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  justify-content: center;
  text-align: center;
}


html {
  width: 100%;
}

h1 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size:calc(32px + 2vw);
  color: #1C1C1C;
  line-height: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-size:calc(10px + 1vw);
  color: #1C1C1C;
  padding-left: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size:calc(30px + 1vw);
  color:#1C1C1C;
  padding-top: 45px;
  margin-top: 0;
}

h4 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size:calc(10px + 1vw);
  color: #A7A7A7;
}

p {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:calc(14px + .5vw);
  color: #A7A7A7;
  padding-left: 10px;
  line-height: 38px;
  margin: 0;
}

h5 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:calc(14px + .5vw);
  color: #A7A7A7;
  margin: 10px;
}

h6 {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size:calc(30px + 1vw);
  color:#1C1C1C;
  padding-top: 45px;
  margin-top: 0;
  line-height: 0px;
}

.name {
  padding-top: 100px;
}

#homepanels {
  text-align: left;
}

.profile {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.photo {
  border-radius: 100px;
  padding: 50px;
  width: 425px;
}

.mail {
  width: 525px;
  padding-top: 45px;
  margin: 0 auto;
}

.button1, input[type=submit] {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  background-color:#FFBE72;
  border: none;
  color:#ffffff;
  padding: 15px 22px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-appearance: none;
}

.button2 {
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 0px;
	background: none;
	color: #80925A;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.button1:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(56, 56, 23, 0.5);
}

.leftImages, .rightImages {
  width: 49%;
}

#graphics {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.icons {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 170px;
  padding-left: 150px;
  position: absolute;
}

#topIcon {
  padding-bottom: 10px;
}

#middleIcon {
  padding-bottom: 10px;
}

#topBox {
  width: 100%;
  display: flex;
  text-align: center;
}

.input {
  border-bottom: 3px solid #2B2E30;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: Interstate;
  padding: 15px;
}

#nameBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#emailBox {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 40%;
  text-align: left;
}

#messageBox {
  margin-top: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

form {
  margin: 20px;
  width: 1000px;
}

#messageField {
  border-bottom: 3px solid #2B2E30;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  padding: 15px;
  height: 90px;
  font-family: Interstate;
}

input, textarea {
  color: #80925A;
  font-size: 20px;
}

#homeButton {
  margin-right: 240px;
  justify-content: right;
}

@media only screen and (min-width: 3840px) {
  p {
    word-wrap: break-word;
    width: 800px;
  }
}

@media only screen and (min-width:1161px) {
  .icons {
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
  }

  #h1center {
    text-align: left;
    width: 500px;
    line-height: 80px;

  }

  p {
    word-wrap: break-word;
    width: 600px;
  }

  .name {
    padding: 30px;
  }
}

@media only screen and (max-width: 1160px) {
  #face-pic {
    padding: 0px;
    display:flex
  }
  #nolan-perry {
      flex-wrap: wrap;
      text-align: center;
  }
  #bio {
    flex-wrap: wrap;
    text-align: center;
  }
  .leftImages {
    float: none;
  }
  .rightImages {
    float: none;
  }
  .bioContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #iconContainer {
    position: relative;
  }

  #walking {
    width: 75%;
    max-width: 400px;
    padding-top: 20px;
  }

  .mail {
    width: 375px;
  }

  .photo {
    width: 60%;
    min-width: 140px;
    padding: 20px;
    border-radius: calc(50px - 1vw);
  }

  .profile {
    width: 50%;
    min-width: 75px;
    max-width: 150px;
    display: flex;
  }

  .icons {
    justify-content: center;
    flex-direction: row;
    padding-left: 0;
    padding-top: 50px;
  }

  #topIcon {
    padding-right: 10px;
    padding-bottom: 0;
  }

  #middleIcon {
    padding-right: 10px;
    padding-bottom: 0;
  }

  #camera {
    padding-left: 0;
  }

  #topBox {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #emailBox {
    width: 100%;
  }

  #nameBox {
    width: 100%;
  }

  #homeButton {
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  #messageField {
    border: 3px solid #2B2E30;
    resize: none;
    padding: 15px;
    height: 90px;
    font-family: Interstate;
  }

  .input {
    border: 3px solid #2B2E30;
    font-family: Interstate;
    padding: 15px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }
  h4 {
    font-size: 20px;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
    word-wrap: auto;
    width: auto;
  }
  .topnav {
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
  }

  #homepanels {
    text-align: center;
    align-items: center;
  }

  #contactP {
    text-align: left;
  }

  #h1center {
    text-align: center;
    width: auto;
    line-height: 50px;;
  }

  #break {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h5 {
    font-size: 20px;
  }

}