body {    
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
  font:18px 'Gilroy', sans-serif;
}

html {
  overflow-x: hidden; }


.square {
  height: 5px;
  width: 300px;
  background-color: #bfc47e;
  text-align: center;
  align-items: center;
  margin: auto;
}


.topnav {
  font:18px 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
  padding-left: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F9F9F9;
}

.topnav a {
  font:18px 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  float: left;
  color: #A7A7A7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  color: #000000;
}

.topnav a.active {
  color: #000000;
  
}

html {
  width: 100%;
}

h1 {
  font:18px 'Gilroy', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:calc(45px + 2vw);
  color: #000000;
  line-height: 5px;
  word-break: break-word;
}

h2 {
  font:18px 'Gilroy', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:calc(25px + 2vw);
  color: #1C1C1C;
  line-height: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font:18px 'Gilroy', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:calc(45px + 2vw);
  color: #000000;
  word-break: break-word;
  margin: 0;
}

h4 {
  font:18px 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size:calc(10px + 1vw);
  color: #A7A7A7;
}

p {
  font:18px 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:calc(16px + .5vw);
  color: #818181;
  line-height: 50px;
}

h5 {
  font:18px 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size:calc(38px + .5vw);
  color: #BFBFBF;
  margin: auto;
  text-align: left;
}

#homepanels {
  text-align: left;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 50%;
}

.photo {
  border-radius: 100px;
  padding: 50px;
  width: 425px;
}


.button1, input[type=submit] {
  font:18px 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  background-color:#000000;
  border: none;
  color:#ffffff;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-appearance: none;
}

.button2 {
  font:18px 'Gilroy', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 0px;
	background: none;
	color: #80925A;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.button1:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
}

.leftImages, .rightImages {
  width: 49%;
}

#graphics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 400px;
}

#topBox {
  width: 100%;
  display: flex;
  text-align: center;
}

.input {
  border-bottom: 3px solid #2B2E30;
  border-top: none;
  border-left: none;
  border-right: none;
  font:18px 'Gilroy', sans-serif;
  padding: 15px;
}

#nameBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#emailBox {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 40%;
  text-align: left;
}

#messageBox {
  margin-top: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

form {
  margin: 20px;
  width: 1000px;
}

#messageField {
  border-bottom: 3px solid #2B2E30;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  padding: 15px;
  height: 90px;
  font:18px 'Gilroy', sans-serif;
}

input, textarea {
  color: #000000;
  font-size: 20px;
}


@media only screen and (min-width:1161px) {
  #h1center {
    text-align: left;
    width: 1000px;
    line-height: 100px;
    word-break: break-word;

  }

  p {
    word-wrap: break-word;
    width: 900px;
  }

  #space {
    padding-bottom: 100px;
  }

  h3 {
    font-size: calc(60px + 2vw);
  }
}

@media only screen and (max-width: 1440px) {
  #bio {
    flex-wrap: wrap;
    text-align: center;
  }
  .leftImages {
    float: none;
  }
  .rightImages {
    float: none;
  }
  .bioContainer {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    text-align: center;
    justify-content: center;
  }
  
  .photo {
    width: 60%;
    min-width: 140px;
    padding: 20px;
    border-radius: calc(50px - 1vw);
  }

  .profile {
    width: 50%;
    min-width: 75px;
    max-width: 150px;
    display: flex;
  }

  #topBox {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #emailBox {
    width: 100%;
  }

  #nameBox {
    width: 100%;
  }

  #messageField {
    border: 3px solid #000000;
    resize: none;
    padding: 15px;
    height: 90px;
    font:18px 'Gilroy', sans-serif;
  }

  .input {
    border: 3px solid #000000;
    font:18px 'Gilroy', sans-serif;
    padding: 15px;
  }

  h2 {
    text-align: center;
    font-size:calc(35px + 3vw);
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
    word-wrap: auto;
    width: auto;
  }
  .topnav {
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #homepanels {
    text-align: center;
    align-items: center;
  }

  #contactP {
    text-align: left;
  }

  #h1center {
    text-align: center;
    width: auto;
    line-height: 50px;;
  }

  h5 {
    font-size:calc(15px + 1.5vw);
    text-align: center;
    padding-bottom: 20px;
  }

  #break {
    padding-top: 100px;
  }

  .centerButton {
    text-align:center;
  }

  .paddingBottom {
    padding-top: 100px;
  }

}

.title-container {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    flex-wrap: wrap;
}

.first-container {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-around;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.second-container {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-around;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.socialColor {
  background: #F9F9F9;
  text-align: center;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.paddingBottom {
  padding-bottom: 40px;
}